
.table{
    width: 90%;
    margin-left: 10%;
}
.table td{
    width: 30%;
    text-align: left;
}
.table th{
    width: 30%;
    text-align: left;
}
button.delete:hover{
    background-color: tomato;
}
.addTag{
    font-size:25px;
    text-align:center;
    width:80px;
    padding:7px 15px;
    background-color:gray;
}
.addTag:hover{
    background-color: rgb(0, 0, 0);
    color:white;
}
