
@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
align-content: center;
width: 50%;
margin-top: 5px;
float: left;
}

.card{
height: auto;
background-color: rgba(255, 254, 254, 0.5) !important;
}




.card-header h3{
color: rgb(12, 12, 12);
}





input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.inputDesign input
{
width: 96%;
padding: 5px;
font-size: 14px;
letter-spacing: 1px;
border: none;
border-bottom: 1px solid rgb(48, 44, 44);
margin-bottom: 14px;
background: transparent;
position: relative;
outline: none;
}

.login_btn{
color: rgb(255, 255, 255);
background-color: rgb(45, 94, 172);
margin-right: 10px;
width: 100px;
}

.login_btn:hover{
color:blue;
background-color: white;
}

.links{
color: rgb(0, 0, 0);
}



/* Image */

.image{
    height: 380px;
    width: 470px;
    margin-top: 6%;
    float: right;
}
/* main */
/* 
.main{
    height: 700px;
    display: flex;
} */


  
  /* Create three equal columns that sits next to each other */
  .col {
    padding: 5px;
    width: 950px;
    height: 520px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50% , -50%);
    box-shadow: 5px 10px 18px #888888;
  }